.tumblr_container {
  background-color: cornflowerblue;
  padding: 50px;
  text-align: center;
}

.tumblr_posts {

}

.tumblr_post {

}

.tumblr_text_post {}
.tumbler_quote_post{}
.tumblr_photo_post {}
.tumblr_video_post {}
