@import "bourbon/bourbon";
@import "neat/neat";

$bgcolor: rgba(255, 255, 255, .5);
$screen: new-breakpoint(min-width 500px);
$mid: new-breakpoint(max-width 820px);

html, body, .scroller, .container {
  font-family: 'Bitter', serif;
  line-height: 2em;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: darkred;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: darkgray;
}

h1 {
  font-size: 1.5em;
  @include media($screen) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.25em;
  @include media($screen) {
    font-size: 1.5em;
  }
}

.ss-icon {
  font-size: 2.5em;
  line-height: 2em;
  @include media($mid) {
    font-size: 1.5em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.social-bar {
  position: relative;
  background-color: transparent;
  margin-top: 0px;
  z-index: 2;
  margin-left: 64px;
  margin-bottom: -80px;
  background-color: transparent;
  margin-top: 0px;
  z-index: 2;
  margin-left: 64px;
  margin-bottom: -80px;

  #facebook {
    color: #3C5A99;
  }
  #twitter {
    color: #55ACEE;
  }
  #youtube {
    color: #CC181E;
  }
  #github {
    color: rgb(38, 38, 38);
  }
}
#tumblr {
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 2;
  color: orangered;
}

.container {
  @include span-columns(10);
  @include shift(1);
  //position: fixed;
  //@include media($screen) {
    //position: relative;
  //}

}

section {
  position: relative;
  height: 100%;
}

section#bg1 {
  background-image: url(/img/bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  @include media($screen) {
    background-attachment: fixed;
  }


  h1 {

    font-size: 1.5em;
    text-align: right;
    position: relative;
    margin-top: 10%;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
    @include span-columns(12);
    @include media($screen) {
      font-size: 2em;
    }

  }

}


section#bg2 {
  text-align: center;
  background: url(/img/slackline.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: auto;
  -webkit-background-size: cover;
  @include media($screen) {
    background-attachment: fixed;
  }
  h2#left {
    position: relative;
    margin-top: 10%;
    background-color: $bgcolor;
    @include span-columns(12);
    @include media($screen) {
      @include span-columns(5);
    }
  }
  h2.right {
    position: relative;
    margin-top: 10%;
    background-color: $bgcolor;
    @include span-columns(12);
    @include media($screen) {
      @include span-columns(4);
      @include shift(2);

    }
  }
  h2 {
    padding: 10px;
    border-radius: 10%;

  }

}

div#projects {
  @include span-columns(12);
  background-color: $bgcolor;
  border-radius: 10%;
  @include media($screen) {
    @include span-columns(5);
    clear: left;
  }

  img {
    max-width: 80%;
    max-height: 150px;
    margin: 15px;
  }

}

// ----------------- Animation -----------------
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
