* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .scroller, .container {
  font-family: 'Bitter', serif;
  line-height: 2em;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: darkred; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: black; }

h1 {
  font-size: 1.5em; }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 1.25em; }
  @media screen and (min-width: 500px) {
    h2 {
      font-size: 1.5em; } }

.ss-icon {
  font-size: 2.5em;
  line-height: 2em; }
  .ss-icon a {
    color: inherit;
    text-decoration: none; }

#facebook {
  color: #3C5A99; }

#twitter {
  color: #55ACEE; }

#youtube {
  color: #CC181E; }

.container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .container:last-child {
    margin-right: 0; }

section {
  position: relative;
  height: 100%; }

section#bg1 {
  background-image: url(/img/bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; }
  @media screen and (min-width: 500px) {
    section#bg1 {
      background-attachment: fixed; } }
  section#bg1 h1 {
    font-size: 1.5em;
    text-align: right;
    position: relative;
    margin-top: 10%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section#bg1 h1:last-child {
      margin-right: 0; }
    @media screen and (min-width: 500px) {
      section#bg1 h1 {
        font-size: 2em; } }

section#bg2 {
  text-align: center;
  background: url(/img/slackline.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover; }
  @media screen and (min-width: 500px) {
    section#bg2 {
      background-attachment: fixed; } }
  section#bg2 h2#left {
    position: relative;
    margin-top: 5%;
    font-size: 1em;
    background-color: rgba(220, 220, 220, 0.75);
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section#bg2 h2#left:last-child {
      margin-right: 0; }
    @media screen and (min-width: 500px) {
      section#bg2 h2#left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        section#bg2 h2#left:last-child {
          margin-right: 0; } }
  section#bg2 h2.right {
    position: relative;
    margin-top: 5%;
    font-size: 1em;
    background-color: rgba(220, 220, 220, 0.75);
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section#bg2 h2.right:last-child {
      margin-right: 0; }
    @media screen and (min-width: 500px) {
      section#bg2 h2.right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        margin-left: 17.05961%; }
        section#bg2 h2.right:last-child {
          margin-right: 0; } }
  section#bg2 h2 {
    padding: 10px;
    border-radius: 10%; }
