@import "bourbon/bourbon";
@import "neat/neat";

$screen: new-breakpoint(min-width 600px);

html, body, .scroller, .container {
  font-family: 'Bitter', serif;
  line-height: 2em;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: darkred;
}
a:hover {
    text-decoration: underline;
  }
a:visited {
    color: black;
}

h1 {
  font-size: 1.5em;
  @include media($screen) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.25em;
  @include media($screen) {
    font-size: 1.5em;
  }
}

.ss-icon {
  font-size: 2.5em;
  line-height: 2em;
   a {
      color: inherit;
      text-decoration: none;
    }
}

#facebook {
    color: #3C5A99;
  }
#twitter {
    color: #55ACEE;
  }
#youtube {
    color: #CC181E;
  }    

.container {
  @include span-columns(10);
  @include shift(1);
  position: fixed;
  @include media($screen) {
    position: relative;
  }

}

section {
  position: relative;
  height: 100%;
}

section#bg1 {
  background-image: url(/img/bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
    @include media($screen) {
      background-attachment: fixed;
    }
  
  
    h1 {
      font-size: 1.5em;
      text-align: right;
      position: relative;
      margin-top: 20%;
      @include span-columns(12);
      @include media($screen) {
        font-size: 2em;
      }

    }

}

section#bg2 {
  text-align: center;
  background: url(/img/slackline.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
    @include media($screen) {
      background-attachment: fixed;
    }
        h2#left {
      position: relative;
      margin-top: 10%;
      background-color: rgba(220, 220, 220, .75);
      @include span-columns(12);
        @include media($screen) {
        @include span-columns(5);
      }
    }
     h2.right {
      position: relative;
      margin-top: 10%;
      background-color: rgba(220, 220, 220, .75);
      @include span-columns(12);
        @include media($screen) {
        @include span-columns(5);
        @include shift(2);

      }
    }
    h2 {
      padding: 10px;
      border-radius: 10%;

    }

}


